[run]
branch = True
source =
    finetuning
    finetuning_v2
    finetuning_v3
    generate_datasets
    generate_datasets_v2

[report]
show_missing = True
skip_covered = False
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError
